@model Tdt_lession12ontap.Models.Tdt_TACGIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tdt_TACGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tdt_TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tdt_TenTacGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tdt_MaTG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
